<body>A bidirectional stream channel API implementation that uses <a href="http://rxtx.qbang.org/">RXTX</a> or <a href="https://github.com/NeuronRobotics/nrjavaserial">nrjavaserial</a> to communicate over serial ports.</body>
